.congrats {
	.below_slider_content {
		margin-left: -64px;
		.congrats_check_div {
			margin-top: 3vw;
			background-color: #664de5;
			width: 70px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
			padding-top: 20px;
		}
		.congrats_header {
			text-align: center;
			margin-top: 3vw;
			.first_line {
				font-size: 30px;
				font-weight: 600;
			}
			.second_line {
				color: #65728b;
			}
		}
		.congrats_all_of_it {
			.congrats_input {
				width: 400px;
				margin: 0 auto 0 auto;
			}
			.congrats_input button {
				background-color: #664de5;
				color: white;
				width: 400px;
				font-size: 15px;
			}
		}
	}
}
