.eden {
	.eden_header {
		text-align: center;
		margin-left: -64px;
		margin-top: 3vw;
		.first_line {
			font-size: 30px;
			font-weight: 600;
		}
		.second_line {
			color: #65728b;
		}
	}
	.eden_input_all_of_it {
		margin-left: -64px;
		.eden_input {
			width: 400px;
			margin: 0 auto 0 auto;
			.enden_two_cards {
				display: flex;
				justify-content: space-between;
				.btn {
					width: 180px;
					text-align: left;
					border: 1px solid #f3f5f9;
					img {
						&:hover {
							color: #664de5;
						}
					}
					.first_p {
						font-weight: 700;
						margin-top: 10px;
					}
					.second_p {
						font-size: 17px;
						color: #9ba3b3;
					}
				}
			}
		}
		.eden_input .workspace_button {
			background-color: #664de5;
			color: white;
			width: 400px;
			font-size: 15px;
		}
	}
	@media screen and (max-width: 530px) {
		.eden_header {
			margin-left: 0;
		}
		.eden_input_all_of_it {
			margin-left: 0;
		}
	}
	@media screen and (max-width: 452px) {
		.eden_input_all_of_it {
			.eden_input {
				width: auto;
				margin-left: 2vw;
				margin-right: 2vw;
				.workspace_button {
					width: auto;
				}
			}
		}
	}
}
