.setup {
	.setup_header {
		text-align: center;
		margin-left: -64px;
		margin-top: 3vw;
		.first_line {
			font-size: 30px;
			font-weight: 600;
		}
		.second_line {
			color: #65728b;
		}
	}
	.setup_all_of_it {
		margin-left: -64px;
		.setup_input {
			width: 400px;
			margin: 0 auto 0 auto;
		}
		.setup_input button {
			background-color: #664de5;
			color: white;
			width: 400px;
			font-size: 15px;
		}
	}
	@media screen and (max-width: 530px) {
		.setup_header {
			margin-left: 0;
		}

		.setup_all_of_it {
			margin-left: 0;
		}
	}
	@media screen and (max-width: 452px) {
		.setup_all_of_it {
			.setup_input {
				width: auto;
				margin-left: 2vw;
				margin-right: 2vw;
			}
			.setup_input button {
				font-size: 15px;
				width: auto;
			}
		}
	}
}
