.slider_all_of_it {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 3vw;
	margin-top: 3vw;
	margin-left: -64px;
	.slider_main_header {
		margin-left: 5px;
		font-weight: 600;
		font-size: 29px;
		margin-top: 13px;
	}
	.slider_main_icon {
		width: 37px;
		height: 37px;
	}
}
.circle_all_of_it {
	height: 43px;
	width: 43px;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	.circle_num {
		text-align: center;
		padding: 10px;
	}
}
@media only screen and (max-width: 452px) {
	.circle_all_of_it {
		height: 30px;
		width: 30px;
		.circle_num {
			text-align: center;
			padding: 3px;
		}
	}
	.slider_all_of_it {
		margin-left: 0px;
	}
}

.addgrid_here {
	display: grid;
	grid-template-columns: 45px 32px 32px;
	place-content: center center;
	align-items: center;
	.circle_line_blacked {
		border-bottom: 2px solid #edf1f6;
	}
	.circle_line_colored {
		border-bottom: 2px solid #664de5;
	}
}
@media only screen and (max-width: 452px) {
	.addgrid_here {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.add_margin_here {
		margin-left: 10vw;
	}
}
