.welcome {
	.welcome_header {
		text-align: center;
		margin-left: -64px;
		margin-top: 3vw;
		.first_line {
			font-size: 30px;
			font-weight: 600;
		}
		.second_line {
			color: #65728b;
		}
	}
	.welcome_input {
		width: 400px;
		margin: 0 auto 0 auto;
	}
	.welcome_input button {
		background-color: #664de5;
		color: white;
		width: 400px;
		font-size: 15px;
	}
}
